{% extends "bootstrap_3_layout.html.twig" %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
    <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="fa fa-warning"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
    {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block submit_row -%}
{% spaceless %}
	<div class="clearfix">
		<div class="pull-left right7">
			<div class="form-group">		 
				{{ form_widget(form) }}
			</div>
		</div>		
	</div>
{% endspaceless %}
{% endblock submit_row %}

{% block form_row -%}
{% spaceless %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{ form_label(form) }}		
        <div class="{{ block('form_group_class') }}">
            {{ form_widget(form) }}
                    {% if form.vars.help  %}
                        <span class="help-block">{{ form.vars.help }}</span>
					{% endif %}
            {{ form_errors(form) }}
        </div>
    </div>
{% endspaceless %}
{%- endblock form_row %}
