{# sada checkboxu #}
{% macro form_checkbox_collection(forms) %}
	{% if forms is not array %}
		{{ form_label(forms) }}	
	{% endif %}
		
	<div class="checkbox-collection row-no-padding clearfix">
	{% for form in forms %}    
		<div class="col-xs-12 col-sm-6 col-md-4 pull-left">
			{{ form_errors(form) }}
			{{ form_widget(form) }}
		</div>
	{% endfor %}
	</div>
{% endmacro %}

{# rekurzivni prochazeni #}
{% macro form_errors(errors) %}
	<div class="alert alert-danger" role="alert">
    {% for error in errors %}
		{{ _self.form_error_item(error) }}
    {% endfor %}
	</div>
{% endmacro %}

{% macro form_error_item(error) %}
	{% if error is iterable %}
		{% for e in error %}		
			{{ _self.form_error_item(e) }}
		{% endfor %}		
	{% else %}
		<p><span class="fa fa-warning"></span> {{ error }}</p>
	{% endif %}	
{% endmacro %}