{# vypis radku do panelu #}
{% macro show_row(label, value, labelClass, valueClass) %}
	<div class="row">
		<p class="{{ labelClass|default('col-xs-12 col-sm-2 row-label-right') }}"><strong>{{ label }}</strong></p>
		<p class="{{ valueClass|default('col-xs-12 col-sm-10') }}">
			{% if value is same as(true) or value is same as(false) %}
				{{ _self.show_bool(value) }}
			{% elseif value is datetime %}
				{{ value|datetime }}
			{% else %}
				{{ value|raw }}
			{% endif %}
		</p>		
	</div>		
{% endmacro %}

{# ikona Ano/Ne pro bool hodnoty #}
{% macro show_bool(value) %}
	{% spaceless %}
		{% if value == true %}
			<span class="hidden">1</span><span><i class="fa fa-check-circle text-success"></i></span>
		{% else %}
			<span class="hidden">0</span><span><i class="fa fa-times-circle text-danger"></i></span>
		{% endif %}
	{% endspaceless %}
{% endmacro %}


{# tlacitko Ano/Ne pro bool hodnoty #}
{% macro btn_bool(value, id, action) %}
	{% spaceless %}
		{% if value == true %}
			<a class="btn btn-success btn-xs btn-active" data-ajax="on" href="{{ path(action, {'id': id}) }}"><i class="fa fa-check"></i> Ano</a>
		{% else %}
			<a class="btn btn-danger btn-xs btn-active" data-ajax="on" href="{{ path(action, {'id': id}) }}"><i class="fa fa-close"></i> Ne</a> 
		{% endif %}
		{% image '@dlouhyAdminTemplateBundle/Resources/public/images/ajax-loader-sm.gif'
			output='/images/ajax-loader.gif' %}
			<img class="spinner btn-spinner" src="{{ asset_url }}" alt="spinner" style="display: none;" />
		{% endimage %}
	{% endspaceless %}
{% endmacro %}

{# tlacitko Add #}
{% macro btn_add(action, label) %}
	{% spaceless %}
		<a class="btn btn-success btn-add btn-main" href="{{ path(action) }}"><i class="fa fa-plus"></i> {{ label|default('Vytvořit') }}</a>
	{% endspaceless %}
{% endmacro %}

{# tlacitko Smazat #}
{% macro  btn_delete(id, action, label) %}
	{% spaceless %}
		<a href="{{ path(action, {'id': id}) }}" class="btn btn-margin btn-danger btn-xs btn-confirm btn-delete btn-datatable" type="button" data-confirm="modal" data-confirm-title="Potvrdit smazání" data-confirm-text="Opravdu smazat záznam č. {{ id }} ?" data-confirm-ok-class="btn-success" data-confirm-ok-text="Ano" data-confirm-cancel-class="btn-danger" data-confirm-cancel-text="Zrušit" data-ajax="on"> {{ label|default('Smazat') }}</a>
	{% endspaceless %}
{% endmacro %}

{# tlacitko View #}
{% macro btn_view(id, action, label) %}
	{% spaceless %}
		<a class="btn btn-primary btn-xs btn-view" href="{{ path(action, {'id': id}) }}">{{ label|default('Detail') }}</a>
	{% endspaceless %}
{% endmacro %}

{# tlacitko Zmenit #}
{% macro btn_edit(id, action, label) %}
	{% spaceless %}
		<a class="btn btn-warning btn-xs btn-edit" href="{{ path(action, {'id': id}) }}">{{ label|default('Změnit') }}</a>
	{% endspaceless %}
{% endmacro %}

{# tlacitko List #}
{% macro btn_list(action, label) %}
	{% spaceless %}
		<a class="btn btn-success btn-xs btn-list" href="{{ path(action) }}">{{ label|default('Seznam') }}</a>
	{% endspaceless %}
{% endmacro %}



{% macro toolbar(id, action_view, action_edit, action_delete) %}
	{% spaceless %}
				
	<div class="btn-toolbox-wrapper">
		<div class="btn-toolbox hidden">
			{% if action_edit %}
			<a class="btn btn-warning btn-xs btn-edit" href="{{ path(action_edit, {'id': id}) }}">Změnit</a>
			{% endif %}
			{% if action_delete %}			
			<a class="btn btn-margin btn-danger btn-xs btn-confirm btn-delete btn-datatable" href="{{ path(action_delete, {'id': id}) }}" type="button" data-confirm="modal" data-confirm-title="Potvrdit smazání" data-confirm-text="Opravdu smazat záznam č. {{ id }} ?" data-confirm-ok-class="btn-success" data-confirm-ok-text="Ano" data-confirm-cancel-class="btn-danger" data-confirm-cancel-text="Zrušit" data-ajax="on">Smazat</a>
			{% endif %}
			{% if action_view %}
			<a class="btn btn-primary btn-xs btn-view" href="{{ path(action_view, {'id': id}) }}">Zobrazit</a>
			{% endif %}
		</div>
	</div>
	{% endspaceless %}
{% endmacro %}

{% macro treename(name, lvl) %}
	{% spaceless %}
		{% if lvl > 0 %}{% for i in 1..lvl %}—{% endfor %}{% endif %} {{ name }}
	{% endspaceless %}
{% endmacro %}

{% macro treename_path(name, path) %}
	{% spaceless %}
		{% set lvl = path|split('/')|length %}
		{{ _self.treename(name, lvl-1) }}
	{% endspaceless %}
{% endmacro %}

{% macro blockClassAdmin(block) %}
	{% spaceless %}		
		{% if block.getBlockStyle() is not null %}{{ block.getBlockStyle().getClassAttrAdmin() }}{% endif %}
	{% endspaceless %}
{% endmacro %}

{% macro blockClass(block) %}
	{% spaceless %}		
		{% if block.getBlockStyle() is not null %}{{ block.getBlockStyle().getClassAttr() }}{% endif %}
	{% endspaceless %}
{% endmacro %}

{% macro external_link(href, class) %}	
	{% if(href) %}
		<a class="{{ class|default('') }}" target="_blank" href="{{ href|external_link() }}">{{ href }} <sup><i class="fa fa-external-link"></i></sup></a>
	{% else %}
		-
	{% endif %}
{% endmacro %}

{% macro sortArrows(id, action_up, action_down) %}
	{% spaceless %}
		<a href="{{ path(action_up, {'id': id}) }}" data-ajax="on"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="{{ path(action_down, {'id': id}) }}" data-ajax="on"><i class="fa fa-arrow-down"></i></a>
	{% endspaceless %}
{% endmacro %}

{% macro size(size) %}
	{% spaceless %}
		{% if size <= 1024 %}
			{{ (size)|round(1, 'floor') }}&nbsp;B
		{% elseif size <= 1024*1024 %}
			{{ (size/1024)|round(1, 'floor') }}&nbsp;kB
		{% elseif size <= 1024*1024*1024 %}
			{{ (size/(1024*1024))|round(1, 'floor') }}&nbsp;MB
		{% elseif size <= 1024*1024*1024*1024 %}
			{{ (size/(1024*1024*1024))|round(1, 'floor') }}&nbsp;GB
		{% endif %}
	{% endspaceless %}
{% endmacro %}