{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

<div class="col-sm-6">
	<table class="table profile table-first-noborder">
		<tbody>
			<tr>
				<th class="col-sm-6">Předmět</th>
				<td>{{ email.subject }}</td>
			</tr>				
			<tr>
				<th>Odesílatel</th>
				<td>{{ email.sender }}</td>
			</tr>
			{% if email.recipient is not empty %}
				<tr>
					<th>Příjemce</th>
					<td>{{ email.recipient }}</td>
				</tr>		
			{% endif %}
			<tr>
				<th>Odesílat jako HTML</th>
				<td>{{ macros.show_bool(email.sendHtml) }}</td>
			</tr>					
			<tr>
				<th>Odesílat jako text</th>
				<td>{{ macros.show_bool(email.sendText) }}</td>
			</tr>							
		</tbody>
	</table>
</div>
<div class="col-sm-6">	

	{% if email.bodyHtml is not empty and email.sendHtml %}
		<div class="bottom20">
			<p class="text-muted">HTML</p>	
			<div class="border-left">
				<p>{{ email.bodyHtml|nl2br }}</p>
			</div>
		</div>
	{% endif %}

	{% if email.bodyText is not empty and email.sendText %}
		<div class="bottom20">
			<p class="text-muted">Text</p>
			<div class="border-left">
				<p>{{ email.bodyText|nl2br }}</p>
			</div>
		</div>	
	{% endif %}

</div>