@import "./layout.less";
@import "./variables.less";
@import "./fonts.less";
@import "./translate.less";
@import "./helpers.less";
@import "./menu.less";

h1.page-header {
  margin-top: 0px
}

ol.breadcrumb {
  background-color: @page-background
}

.btn-main {
  margin-bottom: 15px;
  margin-right: 15px;
}

.btn-menu .btn {
  margin-bottom: 15px;
  margin-right: 15px;
}

.text-bold {
  font-weight: bold
}

table.table-first-noborder {
  tbody {
    tr:first-child {
      td, th {
        border-top: 0;
      }
    }
  }
}

table.profile {
  tr {
    th {
      color: #777;
      font-weight: normal;
    }
  }

  tr:first-child {
    th {
      @media (min-width: @screen-sm-min) {
        width: 180px;
      }
      @media (max-width: @screen-sm-min) {
        width: 160px;
      }
    }

    td, th {
      border: 0;
    }
  }
}

label.required:after {
  content: '*';
  margin-left: 6px;
  top: 2px;
  font-weight: bold;
  color: @brand-danger;
}

.navbar .dropdown a.dropdown-toggle, .navbar #side-menu a {
  color: @topbar-text-color
}

.navbar-static-top {
  z-index: 0;
  .navbar-brand {
    a {
      color: #fff;
    }
  }
}

.navbar-top-links > li > a:hover,
.navbar-top-links > li > a:focus,
.navbar-top-links .open > a, .navbar-top-links .open > a:focus, .navbar-top-links .open > a:hover,
.sidebar-nav .nav > li > a:hover,
.sidebar-nav .nav > li > a:focus,
.sidebar-nav .nav .open > a, .sidebar-nav .nav .open > a:focus, .sidebar-nav .nav .open > a:hover {
  background-color: @navbar-inverse-bg;
}

.sidebar ul li {
  border-bottom: 1px solid @navbar-inverse-bg;
  a {
    &.active {
      background-color: @navbar-inverse-bg;
      color: @navbar-default-link-color;
    }
  }
}

.checkbox-collection {
  .form-group {
    margin-bottom: 0
  }
  .checkbox {
    margin-top: 0
  }
}

//fileinput
.loading {
  background: transparent url('/images/ajax-loader.gif') no-repeat scroll center center content-box !important;
}

.file-uploading {
  background-image: url('/images/ajax-loader.gif');
  background-position: center bottom 10px;
  background-repeat: no-repeat;
  opacity: 0.6;
}

//datatables
table.dataTable thead .sorting {
  background: none
}

table.dataTable thead .sorting_asc {
  background: none
}

table.dataTable thead .sorting_desc {
  background: none
}

table.dataTable thead .sorting_asc_disabled {
  background: none
}

table.dataTable thead .sorting_desc_disabled {
  background: none
}

div.dataTables_wrapper div.row {
  margin: 0;
  padding: 0;
}

table.dataTable td.col-main {
  font-weight: bold
}

table.dataTable td.col-main div.btn-toolbox-wrapper {
  height: 25px;
  margin-top: 5px;

  .btn {
    margin-top: 2px;
    margin-right: 2px
  }
}

table.table-bordered.dataTable {
  border-collapse: collapse !important;
}

.table-responsive {
  border: 0
}

@media screen and (max-width: 767px) {
  div.dataTables_length,
  div.dataTables_filter,
  div.dataTables_info,
  div.dataTables_paginate {
    text-align: left;
    padding-left: 5px
  }
}

.navbar-top-links {
  .dropdown-user {
    @media (max-width: @screen-xs-max) {
      right: -110px;
      position: absolute;
    }
  }
}

.navbar-static-top {
  z-index: 1000;
}

.form-inline {
  .form-group {
    margin-left: 15px;

    label {
      margin-right: 5px
    }
  }
}	