@import "./variables.less";

.top0 { margin-top:0px; }
.top3 { margin-top:3px; }
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top12 { margin-top:12px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }
.top50 { margin-top:50px; }

.bottom0 { margin-bottom:0px; }
.bottom3 { margin-bottom:3px; }
.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom12 { margin-bottom:12px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom20 { margin-bottom:20px; }
.bottom30 { margin-bottom:30px; }
.bottom50 { margin-bottom:50px; }

.left0 { margin-left:0px; }
.left3 { margin-left:3px; }
.left5 { margin-left:5px; }
.left7 { margin-left:7px; }
.left10 { margin-left:10px; }
.left12 { margin-left:12px; }
.left15 { margin-left:15px; }
.left17 { margin-left:17px; }
.left20 { margin-left:20px; }
.left30 { margin-left:30px; }
.left50 { margin-left:50px; }

.right0 { margin-right:0px; }
.right3 { margin-right:3px; }
.right5 { margin-right:5px; }
.right7 { margin-right:7px; }
.right10 { margin-right:10px; }
.right12 { margin-right:12px; }
.right15 { margin-right:15px; }
.right17 { margin-right:17px; }
.right20 { margin-right:20px; }
.right30 { margin-right:30px; }
.right50 { margin-right:50px; }

.fs-h1 {font-size: @font-size-h1}
.fs-h2 {font-size: @font-size-h2}
.fs-h3 {font-size: @font-size-h3}
.fs-h4 {font-size: @font-size-h4}
.fs-h5 {font-size: @font-size-h5}
.fs-h6 {font-size: @font-size-h6}

.border-left {border-left: 1px solid #ddd; padding-left: 15px}
.border-right {border-right: 1px solid #ddd; padding-right: 15px}
.border-top {border-top: 1px solid #ddd; padding-top: 15px}
.border-bottom {border-bottom: 1px solid #ddd; padding-bottom: 15px}

.content-center {
	margin-left: auto;
	margin-right: auto;
} 