@import "%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/bootstrap/less/bootstrap.less";
@import "./sb-admin.less";

body {
    background-color: @sidebar-background;
}

#page-wrapper {
    background-color: @page-background;
}

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
	
	.container {
		.text-muted {
			margin: 20px 0;
		}
		.text-muted {
			color: #777;
		}
	}
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.row-no-padding {
	margin-left: 0;
	margin-right: 0;
	[class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: @screen-xs-max) {
	label.required:after {
		top: 0px;
	}	
}
@media (min-width: @screen-sm-min) {
	.row-label-right {
		text-align: right
	}	
	
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: @screen-md-min) { 
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: @screen-lg-min) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}