@import "./variables.less";

.aside-menu-active-def {
	padding-left:19px;
	color: @brand-primary;
	text-decoration:none;
	background-color:transparent;
	border-left: 1px solid @brand-primary;	
}

.aside-menu-def {
	display: block;
	padding: 4px 20px;
	color: #767676;			
	border: 0px;
}

.aside-menu {
	list-style-type: none;
	li {
		a, span {
			.aside-menu-def;
		}
		a:focus, a:hover {
			.aside-menu-active-def;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding-left: 15px;

	}

	li.current {
		a {
			.aside-menu-active-def;
		}

		ul {
			li {
				a {
					.aside-menu-def;
				}
				a:focus, a:hover {
					.aside-menu-active-def;
				}				
			}
		}
	}
}