@import "%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/bootstrap/less/variables.less";

@brand-color: #004186;

@body-bg: #eee;

@page-background: #eee;
@sidebar-background: @gray-dark;
@sidebar-text-color: white;
@topbar-background: @gray-dark;
@topbar-text-color: white;

@navbar-default-bg: @topbar-background;
@navbar-default-color: @topbar-text-color;
@navbar-default-link-color: @topbar-text-color;
@navbar-default-link-hover-color: @topbar-text-color;

@font-family-sans-serif:  Helvetica, Arial, sans-serif;

@icon-font-path: "../fonts/";

@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;

/*@border-radius-base:        4px;
@border-radius-large:       6px;
@border-radius-small:       3px;*/

@padding-base-vertical:     8px;
@padding-base-horizontal:   12px;

@padding-large-vertical:    14px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;


@gray-base:              #000;
@gray-darker:            #222; // #222
@gray-dark:              #282828;   // #333
@gray:                   #555; // #555
@gray-light:             #888;   // #999
@gray-lighter:           #ADAFAE; // #eee

@brand-primary:         #2A9FD6;
@brand-success:         #77B300;
@brand-info:            #9933CC;
@brand-warning:         #FF8800;
@brand-danger:          #CC0000;

