<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}Admin!{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}

        {% stylesheets
            '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css'
            '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/datatables-plugins/integration/font-awesome/dataTables.fontAwesome.css'
            filter='cssrewrite'
            output='css/datatables.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets
            'bundles/bmatznerfontawesome/css/font-awesome.min.css'
            'bundles/dlouhyadmintemplate/less/glyphicons.less'
            '@dlouhyAdminTemplateBundle/Resources/public/less/admin.less'
            '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.css'

            filter='cssrewrite'
            output='css/admin.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
						<a href="{{ path('admin_dashboard') }}">
							{% block name %}{{ project.name }}{% endblock %}
						</a>

					</span>
        </div>


        <ul class="nav navbar-top-links navbar-right">
            <li>
                <div id="google_translate_element"></div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">

                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i>
                            Odhlásit</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-cog fa-fw"></i> Profil</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_change_password') }}"><i class="fa fa-undo fa-fw"></i> Změna
                            hesla</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>


        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                {{ knp_menu_render('admin_main', {'allow_safe_labels': true, 'template': 'knp_menu.html.twig'}) | raw }}
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="clearfix"></div>
        <ol id="breadcrumb" class="breadcrumb top20">
            <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-home"></i></a></li>
            {% block bdParent %}{% endblock %}
            <li class="active">{% block bdCurrent %}{% endblock %}</li>
        </ol>

        <div class="row">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-notice alert-page">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
        {% block content %}
        {% endblock %}

        <div class="clearfix"></div>

    </div>

</div>

{{ include('dlouhyAdminTemplateBundle::modals.html.twig') }}

{% block javascripts %}

    <!--
        '%kernel.root_dir%/../vendor/startbootstrap-sb-admin-2/bower_components/raphael/raphael-min.js"'
        '%kernel.root_dir%/../vendor/startbootstrap-sb-admin-2/bower_components/morrisjs/morris.min.js'
    -->
    {% javascripts

        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/jquery/dist/jquery.min.js'
        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js'
        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/bootstrap/js/tooltip.js'
        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/bootstrap/js/popover.js'
        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js'

        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/dist/js/sb-admin-2.js'
        '%kernel.root_dir%/../vendor/eternicode/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'
        '%kernel.root_dir%/../vendor/eternicode/bootstrap-datepicker/dist/locales/bootstrap-datepicker.cs.min.js'

        '%kernel.root_dir%/../vendor/dlouhy/ajax/src/Resources/public/js/ajax-handler.js'
        '%kernel.root_dir%/../vendor/dlouhy/ajax/src/Resources/public/js/ajax-form.js'
        '%kernel.root_dir%/../vendor/dlouhy/ajax/src/Resources/public/js/ajax-link.js'
        '%kernel.root_dir%/../vendor/dlouhy/ajax/src/Resources/public/js/confirm-dialog.js'
        '%kernel.root_dir%/../vendor/dlouhy/ajax/src/Resources/public/js/utils.js'

        '@dlouhyAdminTemplateBundle/Resources/public/js/datatable-loader.js'
        '@dlouhyAdminTemplateBundle/Resources/public/js/app.js'

        output='js/admin.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/datatables/media/js/jquery.dataTables.min.js'
        '%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js'
        output='js/datatables.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'cs',
          includedLanguages: 'cs,pl',
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
      }
    </script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}

</body>
</html>
