<!DOCTYPE html>
<html class="full">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
			{% stylesheets 
				'@dlouhyAdminTemplateBundle/Resources/public/less/blank.less'
				filter='cssrewrite'	
				output='css/blank.css'
			%}
			<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}					
		{% endblock %}

		<!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>	
		<div id="page-wrapper">
			<div class="container">
				<div class="row">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
