<!DOCTYPE html>
<html class="full">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Login!{% endblock %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        {% block stylesheets %}
			{% stylesheets
				'%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/font-awesome/css/font-awesome.min.css'
				'@dlouhyAdminTemplateBundle/Resources/public/less/admin.less'
				filter='cssrewrite'
			%}
			<link rel="stylesheet" href="{{ asset_url }}" />
			{% endstylesheets %}
		{% endblock %}

		<!-- Favicon -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>	
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-offset-4 col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
					<div class="login-panel panel panel-default">
						<div class="panel-body">						
						{% block fos_user_content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
    </div>

	{% block javascripts %}

		{% javascripts 
				'%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/jquery/dist/jquery.min.js'
				'%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/bootstrap/dist/js/bootstrap.min.js'
				'%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/bower_components/metisMenu/dist/metisMenu.min.js'
				'%kernel.root_dir%/../vendor/dlouhy/sb-admin-2/dist/js/sb-admin-2.js'
		%}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}				

	{% endblock %}			

</body>
</html>
