<!-- Modal -->
<div id="save-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<p>
						Ukládám...
					</p>
					<p>
						{% image '@dlouhyAdminTemplateBundle/Resources/public/images/ajax-loader.gif'
								output='/images/spinner.gif' %}
						<img src="{{ asset_url }}" alt="spinner"/>
						{% endimage %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>	

<div id="layout-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<p>
						Nastavuji layout...
					</p>
					<p>
						{% image '@dlouhyAdminTemplateBundle/Resources/public/images/ajax-loader.gif'
								output='/images/spinner.gif' %}
						<img src="{{ asset_url }}" alt="spinner"/>
						{% endimage %}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>							

<div id="info-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<div class="text-center">
					<p id="info-modal-content">

					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>					
			</div>	
		</div>
	</div>
</div>	
