{% extends 'dlouhyAdminTemplateBundle::admin.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

{% block title %}Administrace{% endblock %}
{% block bdCurrent %}Administrace{% endblock %}


{% block content %}

	<h1 class="page-header">Administrace</h1>

	{{ dump(app.user) }}
	
{% endblock %}

{% block stylesheets %}

	{{ parent() }}

{% endblock %}

{% block javascripts %}

	{{ parent() }}	

{% endblock %}